$azure-radiance-50: #eff5ff;
$azure-radiance-100: #dbe8fe;
$azure-radiance-200: #bfd7fe;
$azure-radiance-300: #93bbfd;
$azure-radiance-400: #609afa;
$azure-radiance-500: #3b82f6;
$azure-radiance-600: #2570eb;
$azure-radiance-700: #1d64d8;
$azure-radiance-800: #1e55af;
$azure-radiance-900: #1e478a;
$azure-radiance-950: #172e54;
$breakpoint-large:992px;
$fontsize-large:1.5rem;

